* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
a {
    color: #fff;
}
p, h1 {
    margin: 0;
}
.sea {
    min-height: 100%;
    height: 100%;
    background: url("images/seabed.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
}
.sea-water {
    height: 100%;
    background: rgba(78, 149, 219, 0.2);
    position: relative;
    z-index: 2000;
}
.sea-fish > svg {
    height: 80px;
    width: 114px;
    position: absolute;
}
/* main content container */
.cover {
    min-height: 100%;
    margin: 0 0.5em;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
/* Don't allow main content became too large */
@media (min-width:700px) {
    .cover {
        max-width: 700px;
        margin: 0 auto;
    }
}

.masthead {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3000;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    z-index: 3000;
    width: 100%;
}
.options-home  {
    margin: 1.8rem 2em 0 2em;

}
.options-link {
    border-bottom: 1px solid #fff;
}
.options-link a {
    text-decoration: none;
}
.options-search {
    margin: 1rem -0.5rem; /* give form a little more space on extra small screen */
}
@media (min-width: 425px) {
    .options-search {
        margin: inherit;
    }
}
.options-search-input {
    width: 59%;
    color: #fff;
    background: rgba(141, 182, 200, 0.21);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1.1em;
    height: 1.5rem;
    font-size: 1rem;
    padding: 1.2rem 0.5rem;
}
.options-search-input:focus,
.options-search-input:hover {
    background: rgba(141, 182, 200, 0.1);
}
.options-search-button {
    width: 39%;
    display: inline-block;
    padding: 10px 16px;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(141, 182, 200, 0.21);
    background-image: none;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.3333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.options-search-button:hover,
.options-search-button:focus {
    background-color: #fff;
    opacity: 0.8;
    color: #1091D4;
}

/*
    Typography
*/
@media (min-width:1000px) {
    /* increase root font size on desktop */
    html {
        font-size: 18px;
    }
}
.masthead-heading {
    font-family: 'Bowlby One', cursive;
    font-weight: normal;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.masthead-intro {
    font-size: 3.4rem;
    font-family: 'Bowlby One SC';
    text-transform: uppercase;
}
.masthead-title {
    font-size: 1.5rem;
    font-family: 'Bowlby One';
    margin-bottom: 1.6rem;
}
.masthead-message {
    font-size: 1.1rem;
    font-family: 'Open Sans';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
}
.options-item {
    font-family: 'Bowlby One';
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}
.options-button {
    font-size: 14px;
}
